{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("build/css/form.css") }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {%  if is_granted('ROLE_ADMIN') %}
        {{ form_start(formCategory, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
        <fieldset>
            <legend><i class="far fa-plus-square"></i> Ajout/modification d'une catégorie</legend>
            <div class="form-group">
                {% for error in errors %}
                    <p class="error-message"><i class="fas fa-exclamation-circle"></i> {{ error.message }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="category_name">Nom :</label>
                {{ form_widget(formCategory.name, {'attr': {'placeholder': 'nom de la catégorie', 'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="button" value="Enregistrer">
                <a href="{{ path('home') }}" class="button button-cancel">Annuler</a>
            </div>
        </fieldset>
        {{ form_end(formCategory) }}

    {% else %}
        <div class="error-page">
            <div class="error-page-wrapper">
                <p><i class="fas fa-exclamation-circle"></i> Vous n'avez pas les droits pour accéder à cette page</p>
            </div>
            <div class="error-page-wrapper">
                <a href="{{ path('home') }}" class="button button-cancel">Accueil</a>
            </div>
        </div>

    {% endif %}

{% endblock %}