{# templates/website/home.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("build/css/home.css") }}" rel="stylesheet">
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset("build/js/classes/FormValidator.js") }}"></script>
{% endblock %}

{% block banner %}
<div id="bannerHeader">
    <div id="buttonBanner">
        <a href="#about-me" class="scrollTo"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
</div>
{% endblock %}

{% block body %}
    {% block aboutMe %}
    <div class="chevron-aboutMe chevron"></div>
    <div class="home-aboutMe" id="about-me">
        <div class="aboutMe-wrap clearfix gutter">
            <div class="aboutMe-img">
                <div class="positionTitle">
                    <p class="titleId home-titleId">Vanessa Fayard</p>
                    <img src="{{asset("build/img/profil.jpg")}}" id="home-imgId" class="imgResponsive" alt="Vanessa FAYARD développement web" title="Vanessa FAYARD développement web" width="700" height="700">
                </div>
            </div>
            <section class="aboutMe-text">
                <h3 id="aboutMe-title">Qui suis-je ?</h3>
                <p>
                    Moi c'est Vanessa, j'ai entamé en 2018 une reconversion professionnelle: et si je devenais <strong>développeuse web </strong>?
                    <br>
                    Ma formation au sein de la 3W Academy de Grenoble a validé mon amour pour la programmation et les lignes de codes ! Depuis je me forme à de nouvelles technologies, et framework, comme Symfony 4.
                </p>
            </section>
        </div>
    </div>
    {% endblock %}
    {% block resume %}
<div class="home-resume">
    <div class="resume-position">
        <div class="resume-wrap">
            <div class="resume">
                <a href="{{ path('resume') }}" class="button">Mon CV</a>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block skills %}
    {{ render(controller(
        'App\\Controller\\SkillController::show'
    )) }}
    {% endblock %}
    {% block projects %}
        {{ render(controller(
            'App\\Controller\\ProjectController::show'
        )) }}
    {% endblock %}
{% endblock %}


