{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("build/css/admin.css") }}" rel="stylesheet">
{% endblock %}
{% block admin %}
    <aside class="error-message hidden">
        <h3><i class="fa fa-warning"></i> Il y a <span class="total-error-count">1</span> erreurs(s) dans le formulaire !</h3>
        <p></p>
    </aside>
    {{ dump() }}
    {% form_theme form _self %}
    <form class="form-admin" method="post" data-no-validation="false">
        <fieldset>
            <legend><i class="fa fa-user"></i> Identification</legend>
            <div class="form-group">
                {{ form_row(form.email, {'label': 'Addresse email', 'attr': {'placeholder': 'votre email', 'class': 'form-control'}}) }}
                <small id="emailHelp" class="form-text text-muted">Ne partagez pas votre email à quelqu'un d'autre</small>
            </div>
            <div class="form-group">
                {{ form_row(form.password,  {'label': 'Mot de passe', 'attr': {'placeholder': 'votre mot de passe', 'class': 'form-control'}}) }}
            </div>
            <input type="submit" class="button button-primary" value="Connexion">
            <a href="{{ path('home') }}" class="button button-cancel">Annuler</a>
        </fieldset>
    </form>
{% endblock %}
