{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("build/css/form.css") }}" rel="stylesheet">
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset("build/js/classes/FormValidator.js") }}"></script>
{% endblock %}
{% block body %}
{%  if is_granted('ROLE_ADMIN') %}
    {{ form_start(formSkill, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
    <fieldset>
        <legend><i class="far fa-plus-square"></i> Ajout/modification d'une compétence</legend>
        <div class="form-group">
            {% for error in errors %}
            <p class="error-message"><i class="fas fa-exclamation-circle"></i> {{ error.message }}</p>
            {% endfor %}
        </div>
        <aside class="errors-message hidden">
            <h4><i class="fa fa-warning"></i> Il y a <span class="total-error-count">1</span> erreurs(s) dans le formulaire !</h4>
            <p class="error-message"></p>
        </aside>
        <div class="form-group">
            <label for="skill_name">Nom :</label>
            {{ form_widget(formSkill.name, {'attr': {'placeholder': 'nom de la compétence', 'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="skill_description">Description :</label>
            {{ form_widget(formSkill.description, {'attr': {'placeholder': 'description', 'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="skill_image">Image :</label>
            {{ form_widget(formSkill.image, {'attr': {'placeholder': 'nom de l\'image', 'class': 'form-control'}}) }}
            <p id="emailHelp" class="form-text text-muted">Nom du fichier en .jpeg ou .png</p>
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Enregistrer">
            <a href="{{ path('home') }}" class="button button-cancel">Annuler</a>
        </div>
    </fieldset>
    {{ form_end(formSkill) }}

{% else %}
    <div class="error-page">
        <div class="error-page-wrapper">
            <p><i class="fas fa-exclamation-circle"></i> Vous n'avez pas les droits pour accéder à cette page</p>
        </div>
        <div class="error-page-wrapper">
            <a href="{{ path('home') }}" class="button button-cancel">Accueil</a>
        </div>
    </div>

{% endif %}

{% endblock %}