<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vanessa FAYARD - Dev Web{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> <!--Font icon-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet"> <!--normalise css-->
        <link href="{{ asset("build/css/form.css") }}" rel="stylesheet">
        <link href="{{ asset("build/css/base.css") }}" rel="stylesheet">
    {% endblock %}
    {% block script %}
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="{{ asset("build/js/classes/Scroll.js") }}"></script>
        <script src="{{ asset("build/js/classes/ResponsiveMenu.js") }}"></script>
    {% endblock %}

<body>
    <header class="headerWrapper">
        <div class="navWrap clearfix gutter">
            <nav id="headerNav">
                <div id="headerLeft">
                    <a href="{{ path('home') }}" class="titleId">Vanessa Fayard</a>
                </div>
                <div id="headerRight">
                    <button type="button" class="button" id="button-menu">Menu <i class="fas fa-bars"></i></button>
                </div>
                <ul class="mainNavbar navbarHide" aria-hidden="true">
                    {%  if is_granted('ROLE_ADMIN') %}
                        <li class="navItem navItemAdmin">Ajouter
                            <ul class="subMenu">
                                <li>
                                    <a href="{{ path('project_add') }}">Projet</a>
                                </li>
                                <li>
                                    <a href="{{ path('skill_add') }}">Compétence</a>
                                </li>
                                <li>
                                    <a href="{{ path('category_add') }}">Catégorie</a>
                                </li>
                                <li>
                                    <a href="{{ path('company_add') }}">Société - CV</a>
                                </li>
                                <li>
                                    <a href="{{ path('school_add') }}">Ecole - CV</a>
                                </li>
                                <li>
                                    <a href="{{ path('resume_add') }}">Expérience - CV</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="navItem">
                        <a class="navLink" href="{{ path('home') }}">home</a>
                    </li>
                    <li class="navItem">
                        <a href="{{ path('home') }}#projects">Réalisation</a>
                    </li>
                    <li class="navItem">
                        <a href="{{ path('resume') }}">CV</a>
                    </li>
                    <li class="navItem">
                        <a href="{{ path('contact') }}">contact</a>
                    </li>
                    {%  if is_granted('ROLE_ADMIN') %}
                        <li class="navItem"><a href="{{ path('logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% block banner %}{% endblock %}
    </header>
    <div id="main-position">
        {% block admin %}{% endblock %}
        {% block contact %}{% endblock %}
        {% block body %}{% endblock %}

        <div>
            <a href="#" class="buttonUp hidden"><i class="fas fa-arrow-circle-up"></i></a>
        </div>
    </div>

    <footer class="footer">
        <div class="footerWrap gutter">
            <div class="footerDiv aboutMe">
                <p>Vanessa FAYARD</p>
                <ul>
                    <li>
                        <a href="https://twitter.com/VanessaFayard">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://fr.linkedin.com/in/vanessa-fayard-b7503b153">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <p id="copyright">Copyright © <a href="#">Vanessa FAYARD</a> - 2018 </p>
                <p id="credits"><a href="{{ path('mentions_legales') }}">Mentions Légales</a></p>
            </div>
            <div class="footerDiv contactMe">
                <p>Contactez-moi :</p>
                <ul>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:+33675658894">0675658894</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:vanessa.fayard@gmail.com">vanessa.fayard@gmail.com</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker-alt"></i>
                        <a href="https://goo.gl/maps/VYrW3XACji22">Voreppe - Grenoble (38)</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="{{ asset("build/js/main.js")}}"></script>
    {% endblock %}
</body>
</html>
