{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("build/css/form.css") }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {%  if is_granted('ROLE_ADMIN') %}
        {{ form_start(formProject, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
        <fieldset>
            <legend><i class="far fa-plus-square"></i> Ajout/modification d'un projet</legend>
            <div class="form-group">
                {% for error in errors %}
                    <p class="error-message"><i class="fas fa-exclamation-circle"></i> {{ error.message }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="Project_name">Nom :</label>
                {{ form_widget(formProject.name, {'attr': {'placeholder': 'nom du projet', 'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="project_description">Description :</label>
                {{ form_widget(formProject.description, {'attr': {'placeholder': 'description', 'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="project_image">Image :</label>
                {{ form_widget(formProject.caption, {'attr': {'placeholder': 'nom de l\'image', 'class': 'form-control'}}) }}
                <p id="emailHelp" class="form-text text-muted">Nom du fichier en .jpeg ou .png</p>
                <label for="project_image">Capture d'écran du projet :</label>
                {{ form_widget(formProject.image, {'attr': {'placeholder': 'nom de l\'image', 'class': 'form-control'}}) }}
                <p id="emailHelp" class="form-text text-muted">Nom du fichier en .jpeg ou .png</p>
            </div>
            <div class="form-group">
                <label for="Project_url">lien (url) :</label>
                {{ form_widget(formProject.url, {'attr': {'placeholder': 'lien de visualistation du projet', 'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="Project_date">date de création :</label>
                {{ form_widget(formProject.createdAt, {'attr': {'class': 'form-control form-date'}}) }}
            </div>
            <div class="form-group" id="project-choice">
                <div>
                    <label for="Project_skill">Compétence :</label>
                    {{ form_widget(formProject.skill, {'attr': {'class': 'form-control form-choice'}}) }}
                </div>
                <div>
                    <label for="Project_category">Catégorie :</label>
                    {{ form_widget(formProject.category, {'attr': {'class': 'form-control form-choice'}}) }}
                </div>

            </div>
            <div class="form-group">
                <input type="submit" class="button" value="Enregistrer">
                <a href="{{ path('home') }}" class="button button-cancel">Annuler</a>
            </div>
        </fieldset>        {{ form_end(formProject) }}

    {% else %}
        <div class="error-page">
            <div class="error-page-wrapper">
                <p><i class="fas fa-exclamation-circle"></i> Vous n'avez pas les droits pour accéder à cette page</p>
            </div>
            <div class="error-page-wrapper">
                <a href="{{ path('home') }}" class="button button-cancel">Accueil</a>
            </div>
        </div>

    {% endif %}

{% endblock %}