<div class="chevron-projects chevron"></div>
{% block projects %}
<section class="home-projects" id="projects">
    <h3 class="title-section">Mes réalisations</h3>
    <div class="list home">
        {%  for project in projects %}
            <div class="list-container list-project gutter">
                <div class="projects clearfix">
                    <img src="{{ asset("build/img/projects/") }}{{ project.caption }}" class="imgResponsive img-project" width="500" height="500" title="{{ project.name }}" alt="{{ project.name }}">
                    <div class="project-details">
                        <h4 class="project-name">{{ project.name }}</h4>
                        <div class="project-legend">
                            <p>{{ project.description|nl2br }}</p>
                        </div>
                        <a href="{{ path("project_id", {'id': project.id}) }}" class="button">En savoir +</a>
                        {%  if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('project_edit', { 'id': project.id }) }}" class="button button-edit">  <i class="fas fa-edit"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {%  endfor %}
    </div>
</section>
{% endblock %}